
$blue: rgb(0, 173, 238);
$red: rgb(238, 0, 0);
$green: rgb(0, 162, 0);
$teal: rgb(0, 89, 116);
$orange: rgb(201, 114, 0);
$yellow: rgb(232, 213, 53);
$purple: rgb(133, 26, 134);
$lightPurple: lighten($purple, 20%);

$sublimeBlack: rgb(39, 40, 34);
$sublimeGray: rgb(139, 139, 139);